[2018-05-29 15:38] rawilk opened #2 "Menu should disappear when scrolling"
Currently if the menu is open and the page is scrolled, it follows you. The menu should really just disappear when the page is scrolled.

[2018-06-19 18:18] Dylan-DutchAndBold opened #4 "Window scrolls on activating context menu"
### Description

The window scrolls when context menu shows

### Steps to Reproduce

1. I actually have two divs. One with a height of say `50px` and a div that has an height of `calc(100vh - 50px)`
2. Then I have a table with height of `100%` inside that second div which activates the context menu on row click
3. This behaviour appears in these circumstances

**Expected behavior:**

Do not scroll

[2018-06-19 19:23] Dylan-DutchAndBold commented on #4
I'd like to add here, that the windows scrolls that exact `50px`

[2018-06-20 13:08] rawilk commented on #4
@Dylan-DutchAndBold

Thank you for submitting this but unfortunately I can't seem to replicate this on my end. I have committed a file that I was using to replicate this here: https://github.com/rawilk/vue-context/blob/master/test/test_issue_4.html

I would like to be able to resolve this for you so if you could look at the file and point me in the direction  of how to better replicate the issue t

[2018-06-22 15:35] Dylan-DutchAndBold commented on #4
@rawilk Thanks, will get back to you after the weekend.

[2018-06-23 10:40] Dylan-DutchAndBold commented on #4
I have been puzzling with your test and I was in no way able to replicate the issue. I have very strong feelings that the framework I use (elementui) applies some auto sizing magic which does this. Setting the calculated height (100%-nav) directly on the div which is parent of the table fixed the issue on my end. So I'm sorry for assuming the issue was with your context menu. Keep up the great wor

[2018-06-23 10:40] #4 closed

[2018-06-23 17:12] rawilk commented on #4
@Dylan-DutchAndBold

It's not a problem. I'm glad it is working now as intended on your end.

[2018-08-03 08:52] v1r0x opened #5 "Nested Menu"
### Description

First of all thanks for this package. It is by far the best context menu for vue! :)
But I miss the ability to create nested menus. I already tried to add another list on hover, but it still fires the click event of the parent element. And it feels hacky the way I did it.
Do you have any plans to add such a feature? If you need any help/testing I'd love to help. :grinning:

[2018-08-03 19:57] rawilk commented on #5
@v1r0x - Thank you for your support and I'm glad you like the context menu.

For the nested menus I haven't really thought about it, but it does seem like a good idea and I'm sure others would like this feature as well.  I'm not really sure how I would do it, but if you would like to create a pull request that would be appreciated. I would be more than happy to add you as a collaborator to the rep

[2018-08-04 00:08] v1r0x commented on #5
I just added a nested list to an item as markup and added some css magic without touching your code.
I didn't have a look at the code yet, but I'll try to do next week and play around with it. If I have an idea how to implement it, I'll open a PR and we can discuss further details :)
Thanks for your offer, I'll get back to it when I actually collaborate instead of just having an idea/submitting an

[2018-08-06 08:55] v1r0x commented on #5
I had a look at the code and I think it is not possible, since the `v-context` only handles the `open` function and sets the correct position. Thus, it does not know anything about the structure of the data inside the `v-context`. One could display an image, a list, a table or even an iframe using the component (which is a nice feature btw).

One solution could be to move the markup to the compone

[2018-08-14 23:21] edwin2000 opened #6 "The menu is always on the screen when I hide an option (with v-if) and with some variable of the child array."

[2018-08-15 11:41] edwin2000 commented on #6
Hi, I trying to disable an option but I not found a way to do it, then I hide the option with v-if directive.
The problem is then that the context menu no disappear and the only option is to click on it.
Is there any way to disable an option?
Thanks.

[2018-08-15 13:11] rawilk commented on #6
There is more than likely something with your code that is causing this because with normal usage, the  menu does not behave like this. If you visit https://rawilk.github.io/vue-context you will be able to see this.

I can't really help you unless you provide some code and more information on how you're using the menu. Please refer to the [issue template](https://github.com/rawilk/vue-context/blob

[2018-08-15 23:02] edwin2000 commented on #6
Thanks Rawilk for you answer.

**Description**
The menu no disappear when I use the directive v-if and some variable of the child array.

**Steps to Reproduce**

        <p @contextmenu.prevent="$refs.menu.open($event, { foo: 'bar' })">
          Right click on me
        </p>

        <vue-context ref="menu">
            <ul slot-scope="child">
                <li @click="onClick($event.target.in

[2018-08-24 15:47] PlainBane opened #7 "Unable to pass data from the contextmenu."
### Description
Hello,
I'm unable to pass data from the contextmenu, taken from the advanced usage part in usage examples.
I don't get any errors, but console log returns undefined.
### Steps to Reproduce

1. [Take code from the advanced usage section.]
2. [Run Vue app]
3. [Check console output]

**Expected behavior:** [Debug console to return value 'foo'.]

**Actual behavior:** [Console returns u

[2018-08-24 18:09] rawilk commented on #7
I've never used nuxt, but from what I've found, there's nothing in my component that should be causing the data to be undefined.

Are you sure your data is set before it is sent to the context menu with the `open` function?

Also, which version of `vue-context` are you using? I ask because you mentioned you are using `template slot-scope="child"` instead of `template scope="child"`. Since version

[2018-08-24 18:26] rawilk commented on #6
@edwin2000

Sorry for the delayed response. From what you've provided, it looks like it should work just fine. Maybe try this instead for the menu:

[code]

Also, are you receiving any errors in the console? If so, that could possibly prevent the menu from closing.

[2018-08-24 18:57] PlainBane commented on #7
I modified the code to fit your instructions and managed to find the issue. If I copy/paste code from the docs it doesn't work for me.

`<VueContext ref="menu">`
          `<ul slot-scope="child">`
             `<li @click="onClick($event.target.innerText, child.data)">Option1</li> // Returns "foo"`
             `<li @click="onClick($event.target.innerText, child.userData)">Option2</li> //Returns

[2018-08-24 18:58] #7 closed

[2018-08-25 21:12] edwin2000 commented on #6
Thanks @rawilk .
It works great now.

[2018-08-26 15:29] rawilk commented on #6
Disabling an option really depends on your implementation of the menu since the menu does not know about its content.

[2018-08-26 15:29] #6 closed

[2018-09-12 09:09] abradburymf opened #8 "Prevent context menu close on click"
Add a prop similar to CloseOnScroll that allows the customization of whether the context menu closes on click

[code]

[2018-09-12 12:54] rawilk commented on #8
Thanks for the suggestion, I will add this feature when I get a chance to.

[2018-09-12 17:41] #8 closed

[2018-10-15 00:43] egorzot opened #10 "OnClose event"
### Description
Maybe It would be better if  we have an OnClose event to handle menu closing?

[code]

[2018-10-15 13:34] rawilk commented on #10
Good idea, I will implement this sometime when I get a chance to.

[2018-10-15 13:57] egorzot commented on #10
@rawilk can I send PR ?

[2018-10-15 14:14] #10 closed

[2018-10-15 14:15] rawilk commented on #10
@egorzot - Thanks, but I already have the changes implemented since it was a small change. See PR #11.

[2018-10-15 14:21] rawilk commented on #10
I did also add in the ability to listen for an `open` event on the menu in version 3.3.0, as I'm sure you'll see in the PR I made.

[2018-10-16 04:02] egorzot commented on #10
@rawilk thanks :+1: :+1:

[2018-10-16 11:34] robjbrain commented on #8
If you have an input field within the context menu then the menu will still be closed when focusing on the input.

It might be better to use a directive such as clickaway (https://github.com/simplesmiler/vue-clickaway) rather than simply using the blur event?

[2018-10-16 13:02] robjbrain commented on #8
I don't know if @rawilk will be interested in implementing this, but to anyone else finding this issue you can easily add vue-clickaway support yourself by extending the base component like so:

[code]

All i've done here is extend the base component, import vue-clickaway and overwrite the template to remove `@blur="close"` and replace it with `v-on-clickaway="close"`

Now if you have an input fie

[2018-10-16 17:06] rawilk commented on #8
@robjbrain I think the directive would be useful for the menu instead of using `blur` to close it. I will probably look more into this later on this week sometime.

[2018-10-23 17:49] rawilk commented on #8
`v-on-clickaway` has been implemented in version 3.3.1 now. See PR #12

[2018-10-30 23:46] hansy opened #13 "Emitting "close" events on scroll with menu closed"
`v.3.3.1`

I'm seeing a ton of "close" events being emitted on scroll, even when the context menu is closed. Is this normal behavior? Do I need to worry about the flurry of emitted events impacting performance or memory?

[2018-12-13 06:10] robjbrain opened #14 "Use of clickaway removes ability to open a context menu with a left click"
### Description

Obviously the main purpose of this package is to allow for a right click to open a contextmenu.

However it should in theory work for left clicks as well.

I thought this would be a simple case of replacing `@contextmenu` with `@click`.

However I found that clickaway is detecting the click and closing the context menu instantly.

Removing `v-on-clickaway` allows for a left click

[2018-12-14 16:15] Romick2005 commented on #14
Hi I think all you need to do is just to play with .stop .prevent click event modifiers.
I have updated code little bit to feet my need but the main logic should be the same.
You can check it [here](https://jsfiddle.net/cdxjqgk5 ).
So basically it is context menu and you can specify wrapper container when it will appear and also provide left or right mouse click events to capture.
In my example ju

[2019-03-26 14:21] GregoryWullimann opened #15 "Close other existing context-menu when right-clicking"
Hi,

I'm using the context-menu in multiple equal components. The is a small issue:

When I open the context-menu on one component and then right-click on another component the previous menu stays open.

What I could do is that every time time a new menu is open an event is emitted to all other components and close the other menus, but this solution doesn't seems really practical.

Is there anothe

[2019-03-31 18:22] rawilk commented on #15
Could you show some code of how you're using the menu?

[2019-03-31 18:55] rawilk commented on #14
@robjbrain You should be able to use the `stop` modifier as suggested by @Romick2005 on the left click event to fix that issue. I've tested it with and without modifiers on the `@click` event and it worked without issue for me, so there must be something in your code that is causing it to happen.

Sorry for not responding sooner, I've been busy with other projects and haven't had a chance to maint

[2019-03-31 18:55] #14 closed

[2019-03-31 18:58] rawilk commented on #14
I've also added some information about left clicks to the README for others who may have similar issues: https://github.com/rawilk/vue-context#left-click-support

[2019-04-04 10:23] dyonis opened #17 "Show menu by left clicking"
It is possible to show menu by left click event?

[2019-04-04 12:58] rawilk commented on #17
Yes. It's in the [docs](https://vue-context.randallwilk.com/docs/3.0/advanced-usage#left-click).

[2019-04-04 12:58] #17 closed

[2019-04-17 12:32] neelspatel commented on #15
I'm having the issue, here's an outline of what my code looks like:

component_with_context_menu:

[code]

Parent component:

`<component_with_context_menu v-for="value in list"></component_with_context_menu>`

[2019-04-17 13:27] rawilk commented on #15
@neelspatel Typically you are going to need to place the context menu outside of the element that has the `@contextmenu` event on it. In your case, I would do something like this:

[code]

Also, are you using the **latest** version of vue-context?

[2019-05-08 05:04] kattanna opened #20 "How to open context menu with Left Click?"
My template
[code]
My method
[code]
Both left & right click are excute function "open", but only right click can show the context menu.

Please help me, thank you!

[2019-05-15 12:57] ChuckFields opened #21 "Add keyboard support"
### Description

Most context menus allow using the up and down arrows to change the selected context menu item as well as using the enter key to select the selected item.

[2019-05-15 15:30] rawilk commented on #21
@ChuckFields I haven't really taken that into consideration but it sounds like it would be a useful feature for the context menu to have. I'm not sure when I'll get a chance to work on the menu next, but this is something I'll definitely consider implementing.

[2019-05-19 00:49] rawilk commented on #21
@ChuckFields

I just released version `4.0.0` of the context menu. This will allow keyboard navigation of the up and down arrows, as well as closing the menu via the `esc` key.

Also I have also updated the html structure and styling slightly of the context menu, so keep that in mind if you update the package as you may need to adjust your context menu implementations accordingly. These changes wi

[2019-05-19 00:49] #21 closed

[2019-05-20 12:29] ChuckFields commented on #21
@rawilk That was quick! Thank you - we will test it out.

[2019-05-21 15:05] ChuckFields commented on #21
@rawilk After some minor adjustments to how we've implemented the context menu, everything seems to be working great. Thanks again.

[2019-05-22 14:35] #15 closed

[2019-05-30 19:54] ChuckFields opened #23 "@close does not fire when and item is selected"
### Description
@close does not fire when the context menu is closed via selecting an item with the mouse or with the keyboard.

### Version

4.0.0

[2019-05-31 14:59] rawilk commented on #23
I will look into this

[2019-06-03 23:35] rawilk commented on #23
@ChuckFields

After looking at it, I forgot that I had a conditional in there when I first implemented this. Apparently it was emitting the `close` event twice for some reason when I first did that so I just elected to not emit it on click events.

After playing around with it, it seems that's not the case anymore and now I've dropped that conditional and updated the package. If you update to vers

[2019-06-04 12:45] ChuckFields commented on #23
@rawilk Works perfectly, thank you. I'll close this issue.

[2019-06-04 12:45] #23 closed

[2019-06-11 15:23] ChuckFields opened #24 "Context menu does not auto close when inside of a popover"
### Description

I'm using the popover in [ElementUI](https://element.eleme.io/#/en-US), which uses[ popper.js](https://popper.js.org/). When I put a vue-context menu inside of the popper, it does not close if i click somewhere else in the popover.

### Steps to Reproduce
[https://codesandbox.io/s/vue-template-g80uj](https://codesandbox.io/s/vue-template-g80uj)
1. Click on the button to open the p

[2019-06-15 11:45] nnourani opened #25 "Change color on hover"
Hi, thanks for this useful component.
How can i change hover color?Is any prop to set?

[2019-06-15 19:14] rawilk commented on #24
@ChuckFields Thank you for providing an example for me to look at. After looking at it, I'm not really sure what the issue could be but I will try to figure it out.

[2019-06-15 19:16] rawilk commented on #25
@nnourani You can change this by writing styles that override the menu's default styles. Please refer to https://github.com/rawilk/vue-context/blob/master/src/sass/vue-context.scss if you need to see how the menu is styled by default.

[2019-06-19 11:23] guyguy2001 opened #26 "The button is wider than the context menu when not using bootstrap-vue"
### Description

When I use the context menu in a project, the buttons seem to be wider than the context menu holding them:
[image](https://user-images.githubusercontent.com/6932278/59759299-6d6c2900-9298-11e9-8a86-8b6f069fb646.png)

In addition, when running in chrome, there is a blue outline to the menu.

### Steps to Reproduce

Either clone https://github.com/guyguy2001/vue-context-reproduction

[2019-06-19 11:54] guyguy2001 commented on #26
If someone can confirm that this is an error in the library and not in my usage of it, I can fix it in a PR.

[2019-06-21 12:42] ChuckFields commented on #26
@guyguy2001 This is interesting. I have not experienced this issue when using this library in my project, however, I submitted a different issue [here](https://github.com/rawilk/vue-context/issues/24) and in the link I used to reproduce that issue, i'm experiencing this issue.

[2019-06-21 19:20] guyguy2001 commented on #26
Weird...
@ChuckFields, are you sure you were using the `4.x` version of the library in your project?
And could you share the way you used it in your project, and the css that affected it?

[2019-06-21 20:50] ChuckFields commented on #26
@guyguy2001  Ah... In my project I'm doing this:
[code]
Which fixes the issue.
To understand this deeper, check [this out](https://github.com/rawilk/vue-context/blob/fe0165eb6a7d0f0c9885cba0d4dc38c0fac31167/src/sass/vue-context.scss#L22)
The width of  .v-context > li > a  is 100%
Which does not account for the padding of 'a', which pushes everything out.
Which is why box-sizing: border-box; fixes

[2019-06-22 09:32] guyguy2001 commented on #26
I just forked the repo, and it seems that it works in their example file ([test/index.html](https://github.com/rawilk/vue-context/blob/master/test/index.html)), because they use bootstrap-vue.
I fixed this issue and the blue outline on my fork - https://github.com/guyguy2001/vue-context/commit/f8d9ab902bf4f7ac442703e4d7eb9e8aa8118e8d.
@rawilk, is this module supposed to work without boostrap-vue,

[2019-06-22 14:53] rawilk commented on #26
@guyguy2001 The module should work fine without bootstrap. If you look closely, you'll see I'm not using bootstrap-vue, but just the style sheet from bootstrap itself. If you look at the documentation site (https://vue-context.com) in chrome, you'll notice the menu actually receives the blue outline like you are describing. Since I focus the menu when opening it, it receives the outline from the b

[2019-06-24 13:15] #26 closed

[2019-07-19 04:25] purplekrayons opened #29 "Does not work inside v-for"
Note that I am using **vue-context** version **4.0.2**.

This component will fail when used inside of a v-for loop. Per Vue's [documentation on ref](https://vuejs.org/v2/api/#ref):

I have attempted to get around the issue by using a method `openMenu`.

[code]

[code]

However, I get a couple errors when I try and fire the `open` event `this.$refs.menu[index].open();`

I was reading through your [

[2019-07-19 12:03] rawilk commented on #29
@purplekrayons You need to send the event through to the menu as well when you open it. You would need to write something like this:

[code]

[code]

That should work, although I normally wouldn't use the menu in a loop like that. Since the menu accepts a data object as its second argument for the `open` method, I would just create one instance of the menu and send whatever item, or in your case i

[2019-07-19 14:48] purplekrayons commented on #29
Hey mate, I appreciate the clarification. I've ended up doing as you suggested as it definitely makes more sense. Thank you.

[code]

[code]

[2019-07-19 14:48] #29 closed

[2019-07-20 20:30] #24 closed

[2019-07-20 20:30] #25 closed

[2019-07-26 16:49] Jakob-Maudience opened #30 "LocalItemSelector data doesn't update when itemSelector prop does"
## Description

I'm having an issue where I want to dynamically update the item selector in the component under certain conditions (I have a submenu in my context menu, and when it's open, I only want the keyboard nav to cycle through the sub menu items, which have a different class)

As you can see in the cache, the itemSelector property gets updated by the parent component, but the internal loca

[2019-07-28 15:55] rawilk commented on #30
@Jakob-Maudience Thank you for reporting the issue. I have released a new version of the menu (4.0.3) that addresses this issue. If you have further issues with this, please let me know and I can look into it.

[2019-07-29 19:13] Jakob-Maudience commented on #30
Thanks for the quick update. I'll update my package and let you know if I run into any issues.

[2019-08-04 20:26] rawilk commented on #30
Since I haven't heard anything else on this issue, I'm going to consider it closed. If you have any other issues with it, feel free to re-open this issue.

[2019-08-04 20:26] #30 closed

[2019-08-10 12:12] Zireael opened #31 "Two context menu components - old one not closing on open"
Hi,
Might be an edge case, but I thought I'll let you know.
If there are two menu components on the same page:
[code]
If you right click on an element to open` menu1`, and then go and click on something else to open `menu2`, the `menu1` remains open. Expected (intuitive) behavior would be for old menu to close.

Also, with either or both menus open, if you right-click on an element that is not han

[2019-08-26 11:10] gamazu commented on #31
You can implement it yourself. Just manually close the other context menu.
[code]

[2019-09-23 15:05] Torone opened #32 "Not working with Nuxt"
NOTE: ISSUES ARE NOT FOR CODE HELP - Ask for help at
https://stackoverflow.com

### Description

As per title, not working with Nuxt. It works fine unless you refresh the page. Once the page is refreshed it crash with error: "Window is not defined". I tried using it as suggested by you and also as suggested by Nuxt, including it in the plugins section. Nothing...

### Steps to Reproduce

1. Instal

[2019-09-28 17:26] 2-5 opened #33 "Big bundle size due to core-js"
Using `vue-context` increases bundle size by 41 KB (gzipped). It seems tree-shaking is not working properly, and the whole `core-js` in bundled in, not just the two functions used.

[2019-09-28 17:31] 2-5 opened #34 "Menu is misaligned if parent using CSS transform"
The menu is not aligned properly if the parent element is positioned using CSS transform. For example when using a modular layout system - https://jbaysolutions.github.io/vue-grid-layout/examples/01-basic.html

[2019-09-28 17:44] 2-5 opened #35 "Menu not closed when right-clicking away"
The menu is closed if you left-click away, but not if you right-click away.

[2019-09-28 23:12] 2-5 opened #36 "npm install can't be styled"
If you install `vue-context` using `npm`, it's not possible to style it.

The styling is baked in `dist/index.js`, and the `SASS` files are not included (due to `.npmignore`)

[2019-09-30 12:55] #31 closed

[2019-10-12 02:50] rawilk commented on #32
@Torone Sorry for the late response, I've been very busy with other projects lately and haven't had much time for my open source ones...

Have you tried only importing the menu on the client side, i.e. with the `process.client` variable? https://nuxtjs.org/faq/window-document-undefined/

If that doesn't work, I'm not sure what else I'd be able to do on my end to fix this.

[2019-10-12 03:08] rawilk commented on #35
This is not something I plan on fixing anytime soon as I don't see this as being a big deal. You could create an event listener for that in your own code base and close the menu manually yourself if you see a need to.

[2019-10-12 03:08] #35 closed

[2019-10-12 03:46] rawilk commented on #36
This should be fixed now - see #38.

If you use sass, you can import the menu's styles like so:

[code]

From there, you should be able to style the menu as needed. I think this should resolve the other styling issue you created which seems to be related to this as now you should be able to style the menu as your needs dictate.

[2019-10-12 03:46] #36 closed

[2019-10-12 03:47] rawilk commented on #34
See #36

[2019-10-12 03:47] #34 closed

[2019-10-12 03:51] rawilk commented on #33
That makes sense, I'll be updating the menu later and this dependency will be removed in favor of local polyfills.

[2019-10-12 03:57] #33 closed

[2019-10-12 12:50] 2-5 commented on #33
The problem is not fixed, the bundle size is still 36 KB (gzipped).

![2019-10-12_134509](https://user-images.githubusercontent.com/3753822/66701675-4bd2f980-ecee-11e9-84e8-1bf2c143e0d5.png)

Looking more carefully inside `vue-context/dist/js/vue-context.js`, I can see that it has the Vue runtime in there.

[2019-10-12 15:02] 2-5 opened #40 "Doesn't work after upgrading to 4.1.0: Unknown custom element: <VueContext>"
After upgrading from 4.0.3 to 4.1.0, VueContext doesn't work anymore.

The console shows the following error when loading the app:

`vue.runtime.esm.js:619 [Vue warn]: Unknown custom element: <VueContext> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`

And the menu doesn't show up, instead I get this error:

`Uncaught TypeError: open

[2019-10-12 15:57] rawilk commented on #33
To be honest, I'm really not worried about a 36 KB size.

[2019-10-16 21:23] xrnv2 commented on #40
Thanks for information, got same error with newest version (4.1.0) and after downgrade to 4.0.3 everything works fine.

[2019-10-18 12:21] songsng commented on #40
me too

[2019-10-19 10:00] mbasnap commented on #40
same problem

[2019-10-19 15:22] renattonl commented on #40
same problem

[2019-10-19 20:06] steven-jeanneret commented on #40
Same here.

[2019-10-20 21:59] rawilk commented on #40
I am aware of the issue and will be resolving it hopefully soon. I figured out it's because I added sass to my build, which for some reason is breaking the component.

Sorry for any issues this has caused.

[2019-10-20 22:28] rawilk commented on #40
Should be taken care of now.

[2019-10-20 22:28] #40 closed

[2019-10-23 20:31] tripflex commented on #33
@rawilk why i def appreciate you releasing this library, that's 36KB gzip minified (which not everything supports gzip) -- so minified is around 101kb in size:
https://bundlephobia.com/result?p=vue-context@4.1.1

While I understand you may not be worried about it, there may be others who do (just wanted to mention that).

For those that do, my recommendation would be to use webpack chunking/code-s

[2019-10-23 20:56] tripflex commented on #33
I'm still trying to figure out why the dist version of this lib is 100kb+ when i build it from source, it's only around ~17kb ... so i would say if anything, import the source into your own project if you have all the webpack handling setup -- my guess is there's a lot of bloat in the released dist version

[2019-10-23 20:58] tripflex opened #41 "Why not exporting as default when there's no need to use destructuring"
First, thank you for all your work on this lib, it is greatly appreciated 👍

https://github.com/rawilk/vue-context/blob/39adea968ad85957ab5285b909a999fc2fd2cc90/src/js/index.js#L1

Why not just export this as default instead of making it so that we have to use destructuring to import it?

Reason I ask is if we are doing code splitting it requires more code, when it could just be exported as defaul

[2019-11-14 16:10] rawilk commented on #33
@tripflex Good point. I think I'm not going to build it anymore and leave that part of it to you instead. I think that should help sizes.

[2019-11-14 16:24] rawilk commented on #41
In a release I'm working on, there will be a default export available as well.

 See: https://github.com/rawilk/vue-context/tree/release/v5

[2019-11-14 19:47] rawilk commented on #41
Version 5.0.0 is available now, which should give you the ability to import a default export instead now.

[2019-11-14 19:47] #41 closed

[2019-11-15 12:14] pranavkumar389 commented on #5
Hi,
I was waiting for this feature. This is awesome.
Please add documentation over it.

A sample code can help me now.

[2019-11-15 13:12] rawilk commented on #5
@pranavkumar389 I'm hoping to add documentation for it, as well as the new version, sometime this weekend.

[2019-11-16 03:29] #32 closed

[2019-11-24 21:29] kilkujadek opened #44 "Export declarations may only appear at top level of a module"
I'm building little app in meteor+vue.js. As soon as I add

`import { VueContext } from 'vue-context'; `

or

`import VueContext from 'vue-context';`

to component it start to crash with error message:

`SyntaxError: export declarations may only appear at top level of a module`

Any way to fix it?

[2019-12-05 12:58] it-sha opened #45 "Context menu can't be closed by click outside menu and shown in wrong place"
### Description

When UI element is draggable - context menu can't be closed by click outside menu and shown in wrong place.

### Steps to Reproduce

1. Right Mouse Click to open menu
2. mousedown outside menu, move, mouseup
3. The context menu is shown and placed in the wrong spot
Demo in video https://monosnap.com/file/YlyygeJbHYiGMxhA3gtSwZAn2fqRj1

**Expected behavior:**
The context menu is hi

[2019-12-05 13:01] it-sha commented on #45
@rawilk, Is any way to avoid this bug?

[2019-12-06 08:48] tangyuanxiaoniu opened #46 "Doesn't work after upgrading to 5.0: vue-context.js?8c7c:206 Uncaught ReferenceError: Invalid left-hand side in assignment"
After upgrading from 4.1.0 to 5.0, VueContext doesn't work anymore.

The console shows the following error when loading the app:

vue-context.js?8c7c:206 Uncaught ReferenceError: Invalid left-hand side in assignment

[2019-12-06 17:08] rawilk commented on #46
There's probably an issue with either your code or build process. I was able to import the menu into an empty project and use it just fine. The documentation site also imports the npm package version of it as well with no errors.

[2019-12-06 17:09] rawilk commented on #45
I'm not really sure. This is kind of an edge case and I think you'll probably need to implement some kind of logic on your end to handle it.

[2019-12-06 17:11] rawilk commented on #44
I'm not sure. It's hard to say since anytime I've tried it with either way of importing it seems to work just fine. Unless someone else has this issue when using meteor & vue, I'm not really sure what to tell you.

[2019-12-11 17:45] #46 closed

[2020-01-08 05:48] GustavoMorais commented on #45
@it-sha I don't know if you still need it, but there is a library that can help with that
https://www.npmjs.com/package/vue-click-outside

@rawilk Take a look too, can be a good one to implement in this project

[2020-01-10 18:30] #44 closed

[2020-01-12 00:32] mewcrazy opened #47 "Register vue-context globally"
Hello,
I just started using your plugin and I might need it in a lot of components. Is it possible to globally define your component?

I tried registering it with Vue.component, but weirdly it didnt't work.

Best wishes

[2020-01-12 00:38] mewcrazy opened #48 "[Vue warn]: Error in nextTick: "TypeError: Cannot read property 'clientY' of undefined""
Hello,

I can't get vue-context to work with buefy Table's. (buefy = bulma css framework for vue; https://github.com/buefy/buefy)

I get the following error:

[Vue warn]: Error in nextTick: "TypeError: Cannot read property 'clientY' of undefined"

`<b-table
	:data="clients_filtered"
	:paginated="true"
	:per-page="perPage"
	:current-page.sync="currentPage"
	:pagination-simple="false"
	:pagination-p

[2020-01-12 19:46] rawilk commented on #47
Can you show your code of how you did this?

[2020-01-12 19:48] rawilk commented on #48
You have to make sure you pass the `event` through to the `open()` method as the first argument.

[2020-02-12 07:28] #45 closed

[2020-02-13 14:56] Bommel24 opened #49 "Context Menu stays open if you click in an iframe"
# Description

Context-Menu won't close if you click on an iframe after you opened the Context-Menu.

### Steps to Reproduce

1. Open a context menu
2. Left click into an iframe
3. Watch the context menu not close

**Expected behavior: Close Context Menu

**Actual behavior: Context Menu stays open

**Reproduces how often: 100%
### Version

^5.0.0
Electron

[2020-02-16 21:12] #47 closed

[2020-02-16 21:12] #48 closed

[2020-02-24 15:17] rawilk commented on #49
I think that's kind of expected since an iframe has its own DOM. To be honest, this kind of sounds like an edge case. I think you could probably add a click event handler to the iframe and manually close the context menu, but I don't think think there's much I can do on my end.

[2020-02-24 15:17] #49 closed

[2020-02-27 07:57] danielFlemstrom opened #51 "NOT FOUND node_modules/vue-context/dist/js/vue-context.js"
dist/**js** directory seems to be missing from 5.0.0

When I upgraded from a very early version to 5.0.0 I got the message
<code>ERROR in ./node_modules/vue-context/dist/js/vue-context.js
Module build failed: Error: ENOENT: no such file or directory, open '/Users/......../node_modules/vue-context/dist/js/vue-context.js'</code>

There is a src/js directory and when I copy that one into dist, the er

[2020-02-27 13:17] rawilk commented on #51
There is no `dist/js` directory in this version because it's not needed. Also, I'm not sure why you would import from that directory in any previous version as you were always able to import it as `import VueContext from 'vue-context';`, or `import { VueContext } from 'vue-context';` depending on the version.

If you read the documentation, it will detail what you need to know about it. https://vu

[2020-02-27 13:17] #51 closed

[2020-02-27 13:28] danielFlemstrom commented on #51
Thanks for (amazingly) quick response! I studied the documentation very thoroughly and I believe that I followed the instructions. I never specify the dist/js, so maybe the root cause was some cached stuff. I had to close down the npm run dev instance and when I started again, the error was gone!.

I reverted the previous version and will test the latest when I get time.

Thanks anyway for an awes

[2020-02-27 13:31] rawilk commented on #51
No problem and I'm glad you like it. Glad to hear that it's working now.

[2020-03-16 22:23] mwleinad opened #53 "Sintax error in normalize-slot.js in IE 11"
Getting a Syntax error (not a lot of information) in the line that contains this file.
vue-context/src/js/normalize-slot.js

Any idea why this might be happening?

We are using core-js as a polyfill for ES6

Thanks!

[2020-03-19 14:49] rawilk commented on #53
Not sure. From what I can tell everything should be fine.

[2020-03-24 20:37] Affecomia commented on #34
@rawilk I don't see how the inclusion of the css instead of the scss/sass file would make a difference of the misalignment issue? I have the same issue, and have so far been unable to find a solution.

[2020-04-02 14:20] liudonghua123 opened #54 "Vue global install not support."
### Description

I tried to install it globally in main.js like this.
[code]

### Steps to Reproduce

1. install globally as above.
2. add the following vue-context in the template

[code]

**Expected behavior:** [What did you expect to happen]
The vue-context did not render correctly.

**Actual behavior:** [What actually happens]
The vue-context should render correctly.

**Reproduces how often:**

[2020-04-02 14:23] liudonghua123 commented on #54
It can only install in old methods like `Vue.component('VueContext', VueContext);`.

[2020-04-02 14:23] rawilk commented on #54
It's not exported as a plugin, so that won't work. If you use `Vue.component('vue-context', VueContext);` instead, it should work for you globally.

[2020-04-02 14:23] #54 closed

[2020-04-02 14:26] rawilk commented on #54
That's not an "old" method and is still perfectly valid for registering components globally, which is what the context menu is. It's **not** a plugin, which is what Vue.use() is for.

[2020-04-02 14:36] liudonghua123 commented on #54
It can only install in old methods like `Vue.component('VueContext', VueContext);`.

[2020-04-22 19:48] #53 closed

[2020-05-20 00:14] nachodd opened #56 "Documentation site is down?"
I know that this it won't be the right place, sorry... but, is the documentation site down? it keeps on giving error 500
Thanks!

[2020-05-26 14:31] rawilk commented on #56
I recently upgraded the server the documentation is on to PHP 7.4, so it must have broken something on there. I'll have to look into why it's not working.

[2020-05-26 14:31] #56 closed

[2020-05-27 18:43] rawilk commented on #56
Doc site is back up now and is re-designed as well.

[2020-05-27 18:55] nachodd commented on #56
Nice! Thanks! 👍

[2020-05-27 18:56] nachodd commented on #56
Cool! Thanks! 👍

[2020-06-03 03:40] lmkz commented on #53
Just had same issue; webpack only transpiles your own code by default, you have to tell it explicity to transpile ES6 (like vue-context) back to ES5.  See here for how to enable: https://stackoverflow.com/questions/52615179/vue-cli-3-does-not-convert-vendors-to-es5

[2020-06-18 07:09] Dagdelo opened #58 "Its possible to open the context menu from children components?"
I have this scenario: component A has vue-context component. B is children from A, and have several other components (children of B), how to open context menu properly from an children of B? It is possible?

[2020-06-24 05:10] caiokawasaki opened #59 "Animation while hiding"
I know this is silly, but when the `:lazy="true"` prop is set, is it possible for the animation to hide the menu to be smoother?

By the way, awesome plugin!

[2020-07-06 06:20] Ivan3008 opened #60 "Double export brakes jest test"
### Description

Hello! i faced a strange issue while testing my application. i've got wrapping component named as 'ContextMenu' which contains imported 'vue-context' and renders menu items in a loop. Everything works fine, but jest test fails because vue-context module is exported twice. Here is the error:

[code]

Full description of the error - http://prntscr.com/tcirgu

As i understand the pro

[2020-07-18 17:50] #58 closed

[2020-07-20 00:24] davidchalifoux commented on #58
I would also like to know how to do this, did you figure it out @Dagdelo?

[2020-07-20 01:39] Dagdelo commented on #58
@davidchalifoux I used the [open ](https://github.com/rawilk/vue-context/blob/master/src/js/vue-context.js#L219)method, accessing the instance of vue-context from the parent.

[2020-07-23 13:43] nicolidin commented on #60
I have the same problem! Did you find a workaround?

[2020-07-23 17:44] Ivan3008 commented on #60
Unfortunately no. I have no idea how to solve that
Waiting for answer from developer

[2020-07-24 16:20] Tchoupinax commented on #60
Hello,

I have the same problem  (`Unexpected token 'export'`) using Nuxt.js
[code]

[2020-07-31 06:38] #59 closed

[2020-08-02 02:03] mikeerickson opened #63 "How to adjust the menu (menu item) height?"
Using the latest version and menu appears just fine.

However, I am trying to adjust the menu height (I guess more importantly the menu items)

[2020-08-02 08:29] natarajbodhi opened #64 "How to use it from child / nested components?"
I tried to use it from child components but not able to do so. Is there any way to call it from inside a method. Thanks in advance

[2020-08-02 19:04] rawilk commented on #60
Unfortunately I'm not really sure how to solve that. I normally don't test my JavaScript components and I don't use Nuxt.js, so I'm not familiar with either of them.

If anyone out there has any ideas, a PR would be greatly appreciated!

[2020-08-02 19:11] rawilk commented on #63
You should be able to add your own custom styles to the menu by adding them to a stylesheet **after** you import the menu's styles.

From what I understand, you probably just need to adjust the padding in the anchor tags on the menu in your use case:

When using Sass:
[code]

[2020-08-02 19:17] rawilk commented on #64
You should be able to call it via the `open` method:

A simple example:

[code]

For more information, please refer to the documentation: https://vue-context.com/docs/advanced-usage

[2020-08-02 19:33] #63 closed

[2020-08-03 06:16] Ivan3008 commented on #60
I've no idea but leaving only that line in the index file

`export { default as VueContext } from './vue-context'`

[2020-08-03 13:49] rawilk commented on #60
Try updating to version 6.0.0. I removed the named export in this version, so maybe that'll help solve this.

[2020-08-04 07:03] natarajbodhi commented on #64
Thanks for your reply.

This way it is working, but how to get a data object from the child component? I'm new to vue js, it is bit difficult for me. Please help.

[2020-08-04 12:24] rawilk commented on #64
There's a few ways to do it, easiest would probably be to emit an event on the child and listen for it on the parent.

[code]

I recommend watching some videos on [Laracasts](https://laracasts.com/series/learn-vue-2-step-by-step) to help you learn more about vue.

[2020-08-05 10:23] Ivan3008 commented on #60
thank you! but the problem persists...
`export { default } from './vue-context'` still cause the error i posted above.

[2020-08-06 20:19] rawilk commented on #60
You could try importing it directly from the source in your test to see if that helps. I know it's not really ideal, but it may help:

[code]

[2020-08-10 11:09] HaniGerges opened #65 "How to use it in Script Tag"
i am using a Vue-Tree and its render in Script tag like this

[code]

i want to use the right click Function

[2020-08-10 12:07] rawilk commented on #65
Change onClick to a contextmenu listener.

[2020-08-10 12:13] HaniGerges commented on #65
any help with how to do this please ?

[2020-08-10 15:23] hnviradiya opened #66 "Type definition for typescript"
### Description

Type definition

### Steps to Reproduce

Any plan to have type definition? Let me know if I can help you with that by any chance.

### Version

6.0.0

[2020-08-13 18:51] rawilk commented on #65
Sorry, the issues aren't really for code help like this.

[2020-08-13 18:53] rawilk commented on #66
I don't really have any plans on incorporating typescript at any point, mostly because I don't use typescript myself and I also don't really see the benefit of adding it to the menu.

You're welcome to create a PR for it though.

[2020-09-17 10:59] jd-solanki opened #68 "Vue 3 Support"
As Vue 3 has RC It will be a good idea to add support for Vue 3.

I haven't tested it yet but we will surely do it within a month so I wanted to know will this package get Vue 3 support?

[2020-09-17 12:06] rawilk commented on #68
I do plan on adding support for vue 3 at some point. I'm not sure yet what that'll all involve, so I'm not sure when I'll be doing that yet.

[2020-09-17 17:24] ja6 opened #69 "The nested menu is not visible in Safari/MacOS"
### Description

The nested menu doesn't render on Safari/MacOS.

![nested-context-menu-on-safari](https://user-images.githubusercontent.com/6674959/93504368-ae2e7400-f919-11ea-87a0-1f61bdfa4c94.png)

### Steps to Reproduce

1. Open Safari browser (if you have an Apple device)
2. Visit the demo example: [https://randallwilk.dev/docs/vue-context/v6/demos/advanced#nested-menus](https://randallwilk.d

[2020-09-19 13:08] pa4ul opened #70 "Contextmenu won't close after open another one"
Hello!

I'm stuck on working with the vue-context. I don't know if it is a bug or if i wrote something false, if i open one contextmenu everything happens fine but if i start opening another one the first one opened should normally close automatically but in my case now both are opened.

Is it supposed to work like this? If yes, how can i achieve that only one is opened?

Thanks 👍

[2020-09-25 09:42] xuzhen1994 opened #71 "Nested Menus Can't display properly in chrome 73"
### Steps to Reproduce

1. I'm using the chrome 73 and Nested Menus Can't display properly
2.
![image](https://user-images.githubusercontent.com/6793111/94252291-4e0d8280-ff56-11ea-8051-0c4904b10bbd.png)

### Version

"vue-context": "^6.0.0",

[2020-09-25 10:11] xuzhen1994 commented on #71
newest chrome 85 don't have this problem

[2020-10-01 15:33] alectrocute commented on #70
@pa4ul I am not a contributor to this project, but I can maybe give you some half decent advice. I was able to get around this limitation by closing the context menu via a `mouseleave` event on the parent element. For something like a card list, this did the trick.

[code]

[2020-10-01 15:34] alectrocute commented on #70
@rawilk Any input?

[2020-10-07 11:31] vikaskedia opened #72 "Native cut copy paste functions"
Excellent work.

In the [open source EMR ](https://github.com/savantcare/emr) I am trying to integrate the vue-context.

Looking at the examples it seems I will loose the functionality of "cut" "copy" "paste"

![image](https://user-images.githubusercontent.com/6703876/95325324-e14b8f80-0855-11eb-87b4-2cab14a9750d.png)

Is that correct ?

[2020-10-07 12:32] rawilk commented on #72
Yes, you'll have to implement those kind of things yourself.

[2020-10-07 12:36] rawilk commented on #71
Closing this, as it works with the latest versions of browsers.

[2020-10-07 12:36] #71 closed

[2020-10-07 12:40] rawilk commented on #70
I'm not sure, as I've never really dealt with that kind of scenario. Whenever I've used it in an app, I've only needed one instance of the context menu at a time.

However, it does do this behavior that you're describing on the demo pages in the docs since I'm using more than one instance there. I'm not really sure of a good solution to that, but what @alectrocute provided seems to work, I'd recom

[2020-10-07 12:43] rawilk commented on #69
Hmm, I'm using Safari 14.0 on my iMac and it seems to be working fine, so maybe something changed in Safari since v13.1.2. I'm going to close this as it seems to be resolved with a newer browser version.

[2020-10-07 12:43] #69 closed

[2020-10-07 12:46] rawilk commented on #68
If anyone is willing to submit a PR on this to add support for vue 3, it'd be greatly appreciated. I can't really say when I'd get to it myself since I've switched to using a "TALL" stack, so I don't have much motivation to keep maintaining this package if I'm not using Vue anymore.

[2020-10-07 12:47] rawilk commented on #65
Closing this due to inactivity.

[2020-10-07 12:47] #65 closed

[2020-10-07 12:48] rawilk commented on #64
Closing due to inactivity.

[2020-10-07 12:48] #64 closed

[2020-10-08 12:01] ja6 commented on #69
Great! I can confirm that it works now, using Safari 14.0.

[2020-12-01 15:42] joaopedromago commented on #14
Worked for me only when i put `lazy` prop on `vue-context` element.

See my code below:

[code]

[2020-12-19 11:41] IrakliyBerison opened #75 "component without npm"
Hello,

how can I use component without npm.
where src can be downloaded?

[2020-12-24 18:58] MatheusFr27 commented on #70
I have this problem and it made it even more difficult because I was using it with a Treeview. What @alectrocute proposed didn't work either.

[2020-12-28 16:42] Alex-front-end-developer opened #76 "opening the menu on a regular click"
how can I open the menu by left-clicking, help me please?)

[2020-12-28 19:28] rawilk commented on #76
If you haven't please refer to the docs for this, as it has been explained there. Relevant docs url: https://randallwilk.dev/docs/vue-context/v6/usage/advanced-usage#left-click

If you still need help after that, please refer to a similar issue regarding this: https://github.com/rawilk/vue-context/issues/20

[2020-12-28 19:28] #76 closed

[2020-12-28 19:30] rawilk commented on #75
Even though I do recommend using NPM to pull the package in, you can download the source from the [Releases](https://github.com/rawilk/vue-context/releases) on the repository.

[2020-12-28 19:30] #75 closed

[2021-01-07 14:32] MatheusFr27 commented on #70
Hello, I had the same problem and for my situation I found a satisfactory solution.

In my case I am creating a treeview, so the vue-context was instantiated numerous times. Following the same idea of @alectrocute , I created a `<div>` that takes the vue-context plus the element and it applies `@ mouseleave.prevent =" $ refs.menu.close "`.

![image01](https://user-images.githubusercontent.com/6606

[2021-01-08 06:01] patarapolw opened #77 "Separator item"
### Description

Separator item is missing from official. However, I can easily create it with CSS. Also works with CSS scoped.

[code]

[code]

### Version

[code]

[2022-10-04 18:28] #60 closed

[2022-10-04 18:28] #66 closed

[2022-10-04 18:28] #68 closed

[2022-10-04 18:28] #70 closed

[2022-10-04 18:28] #72 closed

[2022-10-04 18:28] #77 closed